.bar-container {
  position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 1.5rem;
  min-width: 600px;
}

.array-size {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bar-container:only-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.array-bar {
  width: 10px;
  display: inline-block;
}

@media screen and (max-width: 1170px) {
  .bar-container {
    margin: 1rem 0;
  }
}