.bar-container {
  position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 1.5rem;
  min-width: 600px;
}

.array-bar {
  width: 10px;
  display: inline-block;
}

@media screen and (max-width: 1170px) {
  .bar-container {
    margin: 1rem 0;
  }
}