.array-container {
    background-color: lightblue;
    width: 100vw;
    padding-bottom: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
  }

  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }

  .array-size {
    margin-top: 0.25rem;
    width: 15%;
  }
