.sortInfo {
  max-width: 450px;
  white-space: pre-wrap;
  margin-right: 2rem;
  color: white;
  text-align: left;
  display:flex;
  flex-direction: column;
}

.title {
  text-decoration: underline 1px;
}

.grid-container {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-radius: 10px;
  padding: 4px;

}

.grid-item {
  grid-column: span 3;
  background-color:transparent;
  border: 1px solid whitesmoke;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1170px) {
  .sortInfo {
    margin: 0;
  }
}