.App {
  text-align: center;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, 
  #055165, 
  #004d68, 
  #00496a, 
  #00456b, 
  #00406c, 
  #003e68, 
  #003d65, 
  #003b61, 
  #003b58, 
  #003a4d, 
  #003843, 
  #0e3639);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
